# Web Services
fastapi
uvicorn
redis

# NLP
nltk
numpy

# web crawler
httpx
beautifulsoup4

# Database
psycopg2-binary
sqlalchemy
pgvector

# Embedding and LLM
sentence-transformers
llama-cpp-python==0.2.72 --prefer-binary
langchain_core
langchain-huggingface
langchain-postgres
